// colors
$white: #fff;

$black: #000;

$grey-1: #102421;
$grey-2: #151442;
$grey-3: #C4C4C4;
$grey-4: #D2D2D2;
$grey-5: #C7E1BF;
$grey-6: #102522;

$cyan-1: #219c89;

//fonts
$sailec: 'Sailec', sans-serif;
$sailec-hairline: 'Sailec Hairline', sans-serif;